* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #4c6472;
}
h1 {
border: 5px solid black;
box-shadow: 20px 10px 5px black;
margin: 25px 25px 50px 25px;
background: #d04116;
padding-bottom: 15px;
justify-content: center;
display: flex;
}
.App {
  text-align: center;
  height: 750px;
}
.btn {
  padding: 5px 10px;
  color: rgb(202, 14, 70);
  font-size: 15px;
  background: rgb(202, 196, 196);
}
.btn:hover {
  background: #f5f5f5;
}
.btn:focus {
  outline: 0;
}
.dropdown {
background: #efb261;
font-size: 25px;
}
h3 {
  border: 2px black solid;
  margin: 20px 500px 20px 500px;
background: #d04116;
padding-bottom: 15px;
font-size: 30px;
}
h2 {
  margin-right: 20px;
  text-emphasis: bold;
  color: black;
  font-weight: 800;
}
.description {
  margin: 20px 30px 20px 30px;
  color: rgb(233, 230, 230);
  font-size: 18px;
}
.link {
  text-decoration:  none;
  font-size: 35px;
  color: rgb(173, 173, 233);
  padding-bottom: 25px;
}
.links {
  text-decoration: none;
  font-size: 20px;
  color: rgb(173, 173, 233);
}
.form {
  font-size: 20px;
  background: #efb261;
  text-decoration: none;
}
.newWorkouts {
  font-size: 25px;
}